nodered/.flows.json.backup
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "efb1c3cb4ec1b96e",
        "type": "subflow",
        "name": "Current Charge",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "ea765d1a2543c31b"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1140,
                "y": 80,
                "wires": [
                    {
                        "id": "29132266ba2a58e1",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99",
        "status": {
            "x": 230,
            "y": 260,
            "wires": [
                {
                    "id": "45e7a020507cab3a",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "df1407b1752224f3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "c456f62e30a15dfe",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://inxfluxdb:8086",
        "rejectUnauthorized": false
    },
    {
        "id": "87204c40cf02ba53",
        "type": "join",
        "z": "efb1c3cb4ec1b96e",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "0.2",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 350,
        "y": 80,
        "wires": [
            [
                "01b3f7383b477df5"
            ]
        ]
    },
    {
        "id": "ea765d1a2543c31b",
        "type": "change",
        "z": "efb1c3cb4ec1b96e",
        "name": "Number",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(msg.payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 80,
        "wires": [
            [
                "87204c40cf02ba53"
            ]
        ]
    },
    {
        "id": "01b3f7383b477df5",
        "type": "function",
        "z": "efb1c3cb4ec1b96e",
        "name": "Current A",
        "func": "var brakerSize = 25;\nvar maxChargeAmps = 16;\nvar minChargeAmps = 6;\nvar amps = null;\nvar maxPhase = Math.max(...msg.payload);\nvar availAmps = Math.floor(brakerSize - maxPhase);\n\nnode.debug(`max phase amps ${maxPhase}`);\nnode.debug(`available amps ${availAmps}`);\n\nif (availAmps >= maxChargeAmps) {\n    amps = maxChargeAmps;\n    node.debug(`setting charge amps to ${amps} (max)`);\n} else if (availAmps < maxChargeAmps && availAmps >= minChargeAmps) {\n    amps = availAmps;\n    node.debug(`setting charge amps to ${amps}`);\n} else if (availAmps < minChargeAmps) {\n    amps = 0;\n    node.debug(`available amps below ${minChargeAmps}, stopping charging`);\n}\n\nmsg.topic = \"charging amps\";\nmsg.payload = amps;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 80,
        "wires": [
            [
                "c8eaa7f9deb243d2"
            ]
        ]
    },
    {
        "id": "c8eaa7f9deb243d2",
        "type": "join",
        "z": "efb1c3cb4ec1b96e",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 650,
        "y": 80,
        "wires": [
            [
                "081fa9d7b976de6e"
            ]
        ]
    },
    {
        "id": "01c9c93ad9a093b3",
        "type": "inject",
        "z": "efb1c3cb4ec1b96e",
        "name": "",
        "props": [
            {
                "p": "complete",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 480,
        "y": 160,
        "wires": [
            [
                "c8eaa7f9deb243d2"
            ]
        ]
    },
    {
        "id": "081fa9d7b976de6e",
        "type": "change",
        "z": "efb1c3cb4ec1b96e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[$count(payload) - 1]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 80,
        "wires": [
            [
                "29132266ba2a58e1"
            ]
        ]
    },
    {
        "id": "45e7a020507cab3a",
        "type": "status",
        "z": "efb1c3cb4ec1b96e",
        "name": "",
        "scope": [
            "29132266ba2a58e1"
        ],
        "x": 100,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "29132266ba2a58e1",
        "type": "function",
        "z": "efb1c3cb4ec1b96e",
        "name": "Check Input",
        "func": "var now = new Date();\nvar formTime = [];\n[now.getHours(), now.getMinutes(), now.getSeconds()].forEach(num => {\n    let val = num.toLocaleString('en-US', {\n        minimumIntegerDigits: 2,\n        useGrouping: false\n    })\n    formTime.push(val);\n})\nvar time = `${formTime[0]}:${formTime[1]}:${formTime[2]}`;\n\nvar color = 'green';\n\nif (msg.payload == undefined) {\n    var prev = flow.get(\"prevAmps\");\n    node.error(`no input, using previous value ${prev}`);\n    msg.payload = prev;\n    color = 'yellow';\n}\nflow.set(\"prevAmps\", msg.payload);\n\nnode.status({\n    fill: color,\n    shape: 'dot',\n    text:`${time} charge ${msg.payload} A`\n});\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nflow.set(\"prevAmps\", 6);",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "6a6ce9b1913a8316",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "Shelly 3EM",
        "topic": "shellies/shellyem3-C45BBE6A7845/emeter/+/current",
        "qos": "2",
        "datatype": "auto",
        "broker": "df1407b1752224f3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 140,
        "wires": [
            [
                "ca6ce1ad62163141"
            ]
        ]
    },
    {
        "id": "1958ed0470c539cd",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 140,
        "wires": []
    },
    {
        "id": "ca6ce1ad62163141",
        "type": "subflow:efb1c3cb4ec1b96e",
        "z": "f6f2187d.f17ca8",
        "name": "Max Charge Amps",
        "env": [],
        "x": 290,
        "y": 140,
        "wires": [
            [
                "1958ed0470c539cd",
                "9f02eefdaa5b62a8"
            ]
        ]
    },
    {
        "id": "9f02eefdaa5b62a8",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "c456f62e30a15dfe",
        "name": "",
        "measurement": "charge",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "nodered",
        "bucket": "nodered",
        "x": 600,
        "y": 240,
        "wires": []
    }
]