nodered/flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "efb1c3cb4ec1b96e",
        "type": "subflow",
        "name": "Current Charge",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 120,
                "wires": [
                    {
                        "id": "aaf7eef14e3bd664"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1280,
                "y": 120,
                "wires": [
                    {
                        "id": "29132266ba2a58e1",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99",
        "status": {
            "x": 230,
            "y": 260,
            "wires": [
                {
                    "id": "45e7a020507cab3a",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "2984656079c534ea",
        "type": "subflow",
        "name": "Phase Currents",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 100,
                "wires": [
                    {
                        "id": "0aa11c1b04b03f84"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1240,
                "y": 100,
                "wires": [
                    {
                        "id": "497318dd0f03a08d",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99",
        "status": {
            "x": 210,
            "y": 200,
            "wires": [
                {
                    "id": "f13be55478436dfd",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "df1407b1752224f3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "c456f62e30a15dfe",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "rejectUnauthorized": false
    },
    {
        "id": "87204c40cf02ba53",
        "type": "join",
        "z": "efb1c3cb4ec1b96e",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "0.1",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 490,
        "y": 120,
        "wires": [
            [
                "01b3f7383b477df5"
            ]
        ]
    },
    {
        "id": "ea765d1a2543c31b",
        "type": "change",
        "z": "efb1c3cb4ec1b96e",
        "name": "Number",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(msg.payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 120,
        "wires": [
            [
                "87204c40cf02ba53"
            ]
        ]
    },
    {
        "id": "01b3f7383b477df5",
        "type": "function",
        "z": "efb1c3cb4ec1b96e",
        "name": "Current A",
        "func": "var brakerSize = 25;\nvar maxChargeAmps = 16;\nvar minChargeAmps = 6;\nvar amps = null;\nvar maxPhase = Math.max(...msg.payload);\nvar availAmps = Math.floor(brakerSize - maxPhase);\n\nnode.debug(`max phase amps ${maxPhase}`);\nnode.debug(`available amps ${availAmps}`);\n\nif (availAmps >= maxChargeAmps) {\n    amps = maxChargeAmps;\n    node.debug(`setting charge amps to ${amps} (max)`);\n} else if (availAmps < maxChargeAmps && availAmps >= minChargeAmps) {\n    amps = availAmps;\n    node.debug(`setting charge amps to ${amps}`);\n} else if (availAmps < minChargeAmps) {\n    amps = minChargeAmps;\n    node.debug(`available amps below ${minChargeAmps}, stopping charging`);\n}\n\nmsg.topic = \"charging amps\";\nmsg.payload = amps;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 120,
        "wires": [
            [
                "c8eaa7f9deb243d2"
            ]
        ]
    },
    {
        "id": "c8eaa7f9deb243d2",
        "type": "join",
        "z": "efb1c3cb4ec1b96e",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 790,
        "y": 120,
        "wires": [
            [
                "d2cf82c2a844831a"
            ]
        ]
    },
    {
        "id": "45e7a020507cab3a",
        "type": "status",
        "z": "efb1c3cb4ec1b96e",
        "name": "",
        "scope": [
            "29132266ba2a58e1"
        ],
        "x": 100,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "29132266ba2a58e1",
        "type": "function",
        "z": "efb1c3cb4ec1b96e",
        "name": "Check Input",
        "func": "var shape = flow.get('shape');\nvar color = 'green';\n\nif (msg.payload == undefined) {\n    let prev = flow.get(\"prevAmps\");\n    node.debug(`using old inst ${prev}`);\n    msg.payload = prev;\n    color = 'yellow';\n}\n\nflow.set(\"prevAmps\", msg.payload);\n\nnode.status({\n    fill: color,\n    shape: shape,\n    text:`Charging ${msg.payload} A`\n});\n\nflow.set('shape', shape === 'dot' ? 'ring' : 'dot');\nmsg.topic = \"charge\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nvar prevAmps = 6;\nvar shape = 'dot';\nflow.set(\"prevAmps\", prevAmps);\nflow.set(\"shape\", shape);",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "aaf7eef14e3bd664",
        "type": "switch",
        "z": "efb1c3cb4ec1b96e",
        "name": "",
        "property": "trigger",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 170,
        "y": 120,
        "wires": [
            [
                "9ad8ff607e56d74b"
            ],
            [
                "ea765d1a2543c31b"
            ]
        ]
    },
    {
        "id": "9ad8ff607e56d74b",
        "type": "change",
        "z": "efb1c3cb4ec1b96e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "complete",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 40,
        "wires": [
            [
                "c8eaa7f9deb243d2"
            ]
        ]
    },
    {
        "id": "d2cf82c2a844831a",
        "type": "change",
        "z": "efb1c3cb4ec1b96e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[$count(payload) - 1]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 120,
        "wires": [
            [
                "29132266ba2a58e1"
            ]
        ]
    },
    {
        "id": "929bca3eac0884b5",
        "type": "join",
        "z": "2984656079c534ea",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "0.1",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 330,
        "y": 100,
        "wires": [
            [
                "ed01fed2bc5bd476"
            ]
        ]
    },
    {
        "id": "ed01fed2bc5bd476",
        "type": "function",
        "z": "2984656079c534ea",
        "name": "",
        "func": "var out = {};\nvar arr = [\n    {\n        i:'/0/current',\n        o: 'l1'\n    },\n    {\n        i:'1/current',\n        o: 'l2'\n    },\n    {\n        i: '2/current',\n        o: 'l3'\n    }]\nvar keys = Object.keys(msg.payload);\n\narr.forEach(function(item) {\n    keys.forEach(function(name) {\n        if (name.indexOf(item.i) !== -1) {\n            out[item.o] = Number(msg.payload[name]);\n        }\n    })\n})\nmsg.payload = out;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 100,
        "wires": [
            [
                "7215aa973d53b82d"
            ]
        ]
    },
    {
        "id": "7215aa973d53b82d",
        "type": "join",
        "z": "2984656079c534ea",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 630,
        "y": 100,
        "wires": [
            [
                "6f70b631b1ed2ccd"
            ]
        ]
    },
    {
        "id": "6f70b631b1ed2ccd",
        "type": "switch",
        "z": "2984656079c534ea",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 770,
        "y": 100,
        "wires": [
            [
                "82d6f8c38f37fb5f"
            ]
        ]
    },
    {
        "id": "82d6f8c38f37fb5f",
        "type": "change",
        "z": "2984656079c534ea",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[$count(payload) - 1]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 100,
        "wires": [
            [
                "497318dd0f03a08d"
            ]
        ]
    },
    {
        "id": "0aa11c1b04b03f84",
        "type": "switch",
        "z": "2984656079c534ea",
        "name": "",
        "property": "trigger",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 170,
        "y": 100,
        "wires": [
            [
                "1591e753ee6960d5"
            ],
            [
                "929bca3eac0884b5"
            ]
        ]
    },
    {
        "id": "1591e753ee6960d5",
        "type": "change",
        "z": "2984656079c534ea",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "complete",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 40,
        "wires": [
            [
                "7215aa973d53b82d"
            ]
        ]
    },
    {
        "id": "497318dd0f03a08d",
        "type": "function",
        "z": "2984656079c534ea",
        "name": "Status",
        "func": "var color = 'green';\nvar shape = flow.get('shape');\n\nnode.status({\n    fill: color,\n    shape: shape,\n    text:`L1 ${msg.payload.l1} A, L2 ${msg.payload.l2} A, L3 ${msg.payload.l3} A`\n});\nflow.set('shape', shape === 'dot' ? 'ring' : 'dot');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nvar shape = 'dot';\nflow.set('shape', shape)",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "f13be55478436dfd",
        "type": "status",
        "z": "2984656079c534ea",
        "name": "",
        "scope": [
            "497318dd0f03a08d"
        ],
        "x": 100,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "6a6ce9b1913a8316",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "Shelly 3EM Currents",
        "topic": "shellies/shellyem3-C45BBE6A7845/emeter/+/current",
        "qos": "2",
        "datatype": "auto",
        "broker": "df1407b1752224f3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 180,
        "wires": [
            [
                "8ff756e6f6ce3d39",
                "ca6ce1ad62163141"
            ]
        ]
    },
    {
        "id": "ca6ce1ad62163141",
        "type": "subflow:efb1c3cb4ec1b96e",
        "z": "f6f2187d.f17ca8",
        "name": "Max Charge Amps",
        "env": [],
        "x": 450,
        "y": 60,
        "wires": [
            [
                "701314f8f2734417"
            ]
        ]
    },
    {
        "id": "701314f8f2734417",
        "type": "moving-average",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "amount": "12",
        "weight": "cumulative",
        "x": 710,
        "y": 60,
        "wires": [
            [
                "84e87b66aed444f5"
            ]
        ]
    },
    {
        "id": "b6c67d19522ac87d",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "c456f62e30a15dfe",
        "name": "",
        "measurement": "chargeMovAvg",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "nodered",
        "bucket": "nodered",
        "x": 1240,
        "y": 60,
        "wires": []
    },
    {
        "id": "84e87b66aed444f5",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$round(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 60,
        "wires": [
            [
                "b6c67d19522ac87d"
            ]
        ]
    },
    {
        "id": "ade566d3d250a94e",
        "type": "influxdb out",
        "z": "f6f2187d.f17ca8",
        "influxdb": "c456f62e30a15dfe",
        "name": "",
        "measurement": "phaseCurrents",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "nodered",
        "bucket": "nodered",
        "x": 760,
        "y": 160,
        "wires": []
    },
    {
        "id": "2fe445e36bfeb966",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "trigger",
                "v": "true",
                "vt": "bool"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "8ff756e6f6ce3d39",
                "ca6ce1ad62163141"
            ]
        ]
    },
    {
        "id": "8ff756e6f6ce3d39",
        "type": "subflow:2984656079c534ea",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "env": [],
        "x": 440,
        "y": 160,
        "wires": [
            [
                "ade566d3d250a94e"
            ]
        ]
    }
]